<div class="postTitle">
  <%= @calorie.name %>
</div>
<div class="postDate">
  <%= @calorie.id %>
</div>
<div class="postAuthor">
</div>
<div class="postText">
  <%= simple_format @post.content %>
</div>