<div class="calendar__my">
<h1 class="main__today" id="main">今日の日付</h1>
<p id="year__month"></p>

<table>
  <thead>
    <tr>
      <th id="prev">&laquo;</th>
      <th id="title" colspan="5">2020/5</th>
      <th id="next">&raquo;</th>
    </tr>
    <tr >
      <th>日</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th>土</th>
    </tr>
  </thead>
  <tbody> 

  </tbody>
  <tfoot>
    <tr>
      <td id="today" colspan="7">Today</td>
    </tr>
  </tfoot>
</table>
<%= link_to 'TOPに戻る', root_path, class:"top_page"%>
</div>

