.new_content_wrapper {
  height: 800px;
  width: 100%;
  background-color: #f3f9fb;
  padding-top: 30px;
  margin: auto;
  font-family: "Arial", "游ゴシック体", "YuGothic", "メイリオ";
}

.new_news {
  font-size: 25px;
  height: 50px;
  width: 500px;
  margin: auto;
  padding-left: 55px;
}

.new__main{
  height: 600px;
  width: 700px;
  background-color: white;
  border: 2px solid #F2F2F2;
  margin: auto;
  &__name {
    font-size: 18px;
    padding-left: 56px;
    margin-top: 20px;
  }
  &__names {
    margin-left: 56px;
    margin-right: 10px;
  }
  &__kcal {
    font-size: 18px;
    padding: 20px 0px 0px 56px;
  }
  &__kcals {
    margin-left: 56px;
  }
  &__comment {
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    resize: none;
  }
  &__text {
    margin-left: 58px;
  }
  &__button {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 10px;
    margin-left: 58px;
    text-decoration: none;
    color: #FFF;
    background: #13b1c0;
    border: solid 1px #13b1c0;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    outline: none; // 青い枠消す
  }
  // カーソルを乗せた時
  &__button:hover {
    background-color: #FFF;
    color: #13b1c0;
  }
  // 押した時
  &__button:active {
    border: solid 2px #13b1c0;
    box-shadow: none;
    text-shadow: none;
  }  
}